$ui-bg: #292929;
$ui-shadow: inset 0px -2px 10px #1156f2;
$steps-height: 35px;
@font-face {
    font-family: M;
    src: url("../fonts/Myanmar_MN.ttc");
    /* IE9 Compat Modes */
}

body {
    color: white;
    font-family: "M";
}

.info-panel {
    position: absolute;
    left: 25%;
    display: inline-block;
    width: 50%;
    top: 15vh;
    text-align: center;
    z-index: 1;
    height: 70vh;
    background: $ui-bg;
    box-shadow: $ui-shadow;
    transition: transform 0.3s ease-out;
    ul {
        display: inline-block;
        li {
            padding-top: 20px;
            font-size: 18px;
        }
    }
    &.hide {
        transform: translateY(85vh) translateZ(0);
    }
    span {
        height: 35px;
        z-index: 0;
        display: block;
        width: 40%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        -webkit-transform: translateZ(-2);
        transform: translateZ(-2);
        position: relative;
        left: 30%;
        bottom: 35px;
        background: #b3aea4;
        &:before {
            content: "";
            height: 10px;
            width: 80%;
            top: 10px;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            position: absolute;
            left: 10%;
        }
    }
}

.visual-panel {
    width: 80%;
    margin: auto;
    z-index: 1;
    canvas {
        margin-left: -12%;
    }
}

.event-panel {
    visibility: hidden;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(255, 0, 0, 0);
    .three {
        height: inherit;
    }
    .steps {
        position: fixed;
        height: 35px;
        margin-top: 35px;
        width: 20%;
        z-index: 0;
        visibility: visible;
        border-bottom: thin solid white;
        &:nth-child(1) {
            top: 30%;
            right: 25%;
            border: 1px solid red;
            position: absolute;
        }
        &:nth-child(2) {
            top: 60%;
            left: 30%;
            border: 1px solid red;
            position: absolute;
        }
        &:nth-child(3) {
            top: 40%;
            left: 22%;
            border: 1px solid red;
            position: absolute;
        }
        .round_btn {
            width: 35px;
            height: 35px;
            z-index: 1;
            border-radius: 50%;
            background: green;
            box-sizing: border-box;
            display: inline-block;
            border: 2px solid white;
            vertical-align: middle;
        }
        p {
            display: inline-block;
            padding-left: 5px;
        }
    }
}

.planet-name {
    position: absolute;
    bottom: 10%;
    width: 50%;
    left: 25%;
    text-align: center;
    p {
        display: inline-block;
        font-family: "M";
        font-size: 3vw;
        letter-spacing: 1vw;
        text-transform: uppercase;
    }
    span {
        height: 2px;
        width: 25%;
        display: inline-block;
        margin-top: 15px;
        background: white;
        &:nth-child(1) {
            float: left;
        }
        &:nth-child(2) {
            float: right;
        }
    }
}

iframe,
.video {
    min-width: 100vw;
    top: 0;
    left: 0;
    min-height: 100vh;
}

.close {
    height: 50px;
    width: 50px;
    background: url(http://www.clker.com/cliparts/t/f/J/i/7/C/amazon-style-close-button-hi.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 30px;
}