    * {
        box-sizing: border-box;
    }
    
    iframe {
        width: 80vw;
        height: 100vh;
        background: #F0C27B/* fallback for old browsers */
    }
    
    .control {
        display: none!important;
    }